
body{
    background-color: rgb(32, 32, 32);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}




.memory{
    color: rgb(148, 148, 148);
    border-collapse: collapse;
}
.memory tr:first-child{
    background-color: rgb(86, 86, 86);
}
.memory td:first-child {
    background-color: rgb(42, 42, 42);
    width: 30px;
}
.memory td {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
}






.registers{
    color: rgb(148, 148, 148);
    border-collapse: collapse;
}
.registers tr:first-child{
    background-color: rgb(86, 86, 86);
}
.registers td {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    width: 50px;
}


.P{
    background-color: rgb(14, 106, 212);
}

.SP{
    background-color: rgb(127, 40, 33);
}


.screen {
    border-collapse: collapse;
}
.screen td {
    padding: 0px;
    width: 30px;
    height: 30px;
}