*{
    margin: 0px;
    font-family: monospace;
    font-size: 16px;
    color: rgb(207, 207, 207);
}


body{
    background-color: rgb(32, 32, 32);
}


.panel{
    background-color: rgb(55, 55, 55);
    height: 4vh;
}
.panel *{
    float: left;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgb(55, 55, 55);
}
.x{
    width: 100px;
    height: 100px;
}

.select:hover{
    background-color: rgb(207, 207, 207);
    color: rgb(55, 55, 55);
}


.mainContainer{
    display: flex;
}
.mainContainer .section{
    flex: 1;
    height: 96vh;
    overflow: auto;
}


.codeEditor{
    display: flex;
    min-height: 96vh;
}
.lines{
    width: 20px;
    background-color: rgb(207, 207, 207);
    color: rgb(55, 55, 55);
    padding: 10px;
    text-align: right;
    user-select: none;
}
#code{
    background-color: rgb(24, 24, 24);
    color: rgb(207, 207, 207);
    flex-grow: 1;
    padding: 10px;
    resize: none;
    border: none;
    outline: none;
}


.memory{
    float: right;
    margin: auto;
}
.memory caption{
    background-color: rgb(207, 207, 207);
    color: black;
}


.memory table{
    color: rgb(148, 148, 148);
    border-collapse: collapse;
}
.memory td {
    border: 1px solid rgb(207, 207, 207);
    padding: 4px;
    width: 1vh;
    height: 1vh;
    text-align: center;
}
.memory tr:first-child{
    background-color: rgb(86, 86, 86);
}
.memory td:first-child {
    background-color: rgb(42, 42, 42);
    text-align: left;
    width: 3vh;
}


.registers{
    width: 70%;
    margin: auto;
}
.registers table{
    color: rgb(148, 148, 148);
    border-collapse: collapse;
    width: 100%;
}
.registers tr:first-child{
    background-color: rgb(86, 86, 86);
}
.registers td {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
}
.P{
    background-color: rgb(13, 125, 9);
}
.SP{
    background-color: rgb(127, 40, 33);
}
.RIN{
    background-color: rgb(14, 106, 212);
}


#flags{
    width: 140px;
    text-align: center;
    background-color: rgb(86, 86, 86);
    word-spacing: 30px;
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
}


.screen{
    width: 50%;
    position: relative;
    padding-top: 50%;
    overflow: hidden;
    margin: auto;
}
.screen table{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.screen td {
    padding: 0px;
}